<% content_for :title do %>Matchmaking<% end %>
<div style="display:flex; align-items:center; justify-content:center;height: 75vh;flex-direction:column; margin: 24px; font-size: 18px; font-weight: 600;text-align:center;">
    <div><i class="danger fas fa-heart-broken fa-3x"></i></div>
    <div>We ran out of potential matches.</div>
    <div>
	Try <a class="link" href="/search">the search option</a> or come back later
    </div>
</div>
<%= erb :_footer, locals: {tab: :match, **locals} %>
