<% content_for :title do %>Change password<% end %>
<div class="profile-info">
    <form method="POST">
	<div class="form-group">
	    <label>Old Password</label>
	    <input type="password" name="old_password">
	    <% if @user.errors[:old_password] %>
		<div class="input-error">
		    Old password <%= @user.errors[:old_password][0] %>
		</div>
	    <% end %>
	</div>

	<div class="form-group">
	    <label>New Password</label>
	    <input type="password" name="password">
	    <% if @user.errors[:password] %>
		<div class="input-error">
		    New password <%= @user.errors[:password][0] %>
		</div>
	    <% end %>
	</div>

	<div class="form-group">
	    <label>Repeat New Password</label>
	    <input type="password" name="repeat_password">
	    <% if @user.errors[:repeat_password] %>
		<div class="input-error">
		    Repeatead password <%= @user.errors[:repeat_password][0] %>
		</div>
	    <% end %>
	</div>

	<div class="form-group">
	    <input type="submit" value="Change password">
	</div>
    </form>
</div>
<%= erb :_footer, locals: {tab: :user, **locals} %>

