<% content_for :title do %>Profile options<% end %>
<div>
    <div class="profile-option" style="font-weight: 600; font-size: 18px; cursor: default">
	Profile
    </div>
    <a class="profile-option" href="/user/<%= current_user.id %>">
	View
    </a>
    <a class="profile-option" href="/verify">
	Verification photo
    </a>
    <a class="profile-option" href="/photos">
	Aditional photos
    </a>
    <a class="profile-option" href="/description">
	Description
    </a>
    <a class="profile-option" href="/gender">
	Gender
    </a>
    <a class="profile-option" href="/email">
	Email
    </a>
    <a class="profile-option" href="/password">
	Password
    </a>
    <a class="profile-option" href="/logout">
	Logout
    </a>
</div>
<%= erb :_footer, locals: {tab: :user, **locals} %>

